<div class="table-wrapper">
  <h2 class="table-title">📋 Tickets </h2>

  <div class="filters mb-3">
    <!-- Filter Inputs -->
    <input type="text" pInputText placeholder="Ticket Number" [(ngModel)]="ticketFilter.ticketNumber"
      class="p-inputtext-sm mr-2" />

    <input type="text" pInputText placeholder="Tag Number" [(ngModel)]="ticketFilter.tagNumber"
      class="p-inputtext-sm mr-2" />

    <p-dropdown [options]="technicianUsers" optionLabel="name" optionValue="id" placeholder="Select User"
      [(ngModel)]="ticketFilter.technicianId" class="p-dropdown-sm mr-2">
    </p-dropdown>

    <p-dropdown [options]="Customers" optionLabel="name" optionValue="id" placeholder="Select Customer"
      [(ngModel)]="ticketFilter.customerId" class="p-dropdown-sm mr-2">
    </p-dropdown>

    <p-dropdown [options]="priorityOptions" placeholder="Select Priority" [(ngModel)]="ticketFilter.priority"
      class="p-dropdown-sm mr-2"></p-dropdown>

    <p-dropdown [options]="statusOptions" placeholder="Select Status" [(ngModel)]="ticketFilter.status"
      class="p-dropdown-sm mr-2" optionLabel="label" optionValue="value"></p-dropdown>

    <input type="date" [(ngModel)]="ticketFilter.startDate" class="mr-2" />
    <input type="date" [(ngModel)]="ticketFilter.endDate" class="mr-2" />
  </div>

  <!-- Buttons aligned right -->
  <div class="mb-3 d-flex justify-content-end" style="gap: 0.5rem;">
    <button pButton type="button" label="Filter" icon="pi pi-filter" (click)="loadTickets()" class="p-button-sm"
      style="border-radius: 5px;"></button>
    <button pButton type="button" label="Reset" icon="pi pi-times" (click)="resetFilters()"
      class="p-button-sm p-button-secondary" style="border-radius: 5px;"></button>
  </div>

  <p-table #table [value]="tickets" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]" [responsiveLayout]="'scroll'"
    [globalFilterFields]="['ticketNumber', 'description', 'status']" [showCurrentPageReport]="true"
    currentPageReportTemplate="Total: {totalRecords} records" styleClass="p-datatable-striped p-datatable-sm"
    [rows]="ticketFilter.pageSize" [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="onPageChange($event)"
    [responsiveLayout]="'scroll'" [loading]="loading">
    <ng-template pTemplate="header">
      <tr>
        <th>Ticket Number</th>
        <th>Tag Name</th>
        <th>Create Date</th>
        <th>Customer</th>
        <th>Branch</th>
        <th>Technician</th>
        <th>Priority</th>
        <th>Status</th>
        <th></th>

      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-ticket>
      <tr>
        <td>{{ ticket.ticketNumber }}</td>
        <td>{{ ticket.tagName }}</td>
        <td>{{ ticket.createDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ ticket.customerName }}</td>
        <td>{{ ticket.areaName }}</td>
        <td>{{ ticket.assignedToUserName }}</td>

        <td>{{ getPriorityLabel(ticket.priority) }}</td>

        <td>
          <span class="status-badge" [ngClass]="{
              'active': ticket.status  === 0,
              'inactive': ticket.status  === 2,
              'pending': ticket.status  === 1
            }">
            {{ getStatusLabel(ticket.status) }}
          </span>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-eye" class="p-button-text p-button-sm"
            (click)="viewTicket(ticket.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-modal size="modal-md" header="Ticket Details" #forgotPassword [alwaysRender]="true" [staticBackdrop]="true">
    <ng-template #mBody>
      <div class="ticket-view-wrapper" *ngIf="selectedTicket">
        <div class="details-grid">
          <div><strong>Ticket Number:</strong> {{ selectedTicket.ticketNumber }}</div>
          <div><strong>Ticket Description:</strong> {{ selectedTicket.description }}</div>
          <div><strong>Tag Number:</strong> {{ selectedTicket.tagName }}</div>
          <div><strong>Date:</strong> {{ selectedTicket.createDate | date:'dd/MM/yyyy' }}</div>
          <div><strong>Customer:</strong> {{ selectedTicket.customerName }}</div>
          <div><strong>Branch:</strong> {{ selectedTicket.areaName }}</div>
          <div><strong>Technician:</strong> {{ selectedTicket.assignedToUserName }}</div>
          <div><strong>Priority:</strong> {{ getPriorityLabel(selectedTicket.priority) }}</div>
          <div><strong>Status:</strong>
            <span class="status-badge" [ngClass]="getStatusLabel(selectedTicket.status)">
              {{ getStatusLabel(selectedTicket.status) }}
            </span>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #mFooter>
         <button pButton type="button" label="Close" (click)="close()" class="p-button-sm"
      style="border-radius: 5px;" class="p-button-sm p-button-secondary"></button>
      <button pButton type="button" label="More Details" (click)="moreDetails()" class="p-button-sm"
      style="border-radius: 5px;"></button>
    </ng-template>

  </app-modal>
</div>