:host {
  display: block;
}

.view-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #222;
  background-color: #ff4b2b;
  height: 60px;
  color: wheat;
}