<p-toast position="bottom-right"></p-toast>
<div class="container mt-5" id="container" #container>
    <div class="form-container sign-in-container">
      <form (ngSubmit)="onSubmitLoginForm()" [formGroup]="loginForm">
        <h1>Sign in</h1>
        
        <span>or use your account</span>
        <input type="email" formControlName="email" placeholder="Email"/>
          <app-validation-message [formGroup]="loginForm" controlName="email"></app-validation-message>
        <input type="password" formControlName="password" placeholder="Password"/>
          <app-validation-message [formGroup]="loginForm" controlName="password"></app-validation-message>
        <button [disabled]="loginForm.invalid" type="submit">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Ticketing System</h1>
          <p>Enter your personal details and start journey with us</p>
          <button  class="ghost" id="signUp" #signUpButton>Sign Up</button>
        </div>
      </div>
    </div>
</div>